
body, h1, h2, p, textarea {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
 
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
 
  h1 {
    font-size: 36px;
  }
  
 
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .input-area {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  
  textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  .preview-area {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

  #markdown-preview {
    margin-top: 10px;
  }
  
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
 
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  
  a:hover {
    text-decoration: underline;
  }
  